# for Loops

A <code>for</code> loop acts as an iterator in Python; it goes through items that are in a *sequence* or any other iterable item. Objects that we've learned about that we can iterate over include strings, lists, tuples, and even built-in iterables for dictionaries, such as keys or values.

We've already seen the <code>for</code> statement a little bit in past lectures but now let's formalize our understanding.

Here's the general format for a <code>for</code> loop in Python:

    for item in object:
        statements to do stuff
        
## Table of Contents
1. Iterate through Lists
2. Iterate through Strings
3. Iterate through Tuples
4. Tuple Unpacking
5. Iterate throuh Dictionaries
6. Iterate through Files
7. Use `range` to generate numbers.
8. Break & Continue
9. For-Else
10. Nested for loops
11. Examples

The variable name used for the item is completely up to the coder, so use your best judgment for choosing a name that makes sense and you will be able to understand when revisiting your code. This item name can then be referenced inside your loop, for example if you wanted to use <code>if</code> statements to perform checks.

Let's go ahead and work through several example of <code>for</code> loops using a variety of data object types. We'll start simple and build more complexity later on.

In [1]:
for i in range(3):
    print("Hello")
    print("World")

print("Done")

Hello
World
Hello
World
Hello
World
Done

In [3]:
for i in range(5):
    print(i)

print("done")

0
1
2
3
4
done

In [2]:
for i in range(2, 9, 2):
    print(i)

2
4
6
8

In [7]:
students = ['Omar', 'Maryam', 'Ahmed', 'Taha', 'Samir']
students.append('Abdelrahman')

for i in range(len(students)):
    name = students[i]
    print(f"Certificate for - {name}")

print("Done")

Certificate for - Omar
Certificate for - Maryam
Certificate for - Ahmed
Certificate for - Taha
Certificate for - Samir
Certificate for - Abdelrahman
Done

## 1) Iterate through Lists

In [8]:
students

['Omar', 'Maryam', 'Ahmed', 'Taha', 'Samir', 'Abdelrahman']

In [9]:
# Iterable
for s in students:
    print(f"Certificate for - {s}")

Certificate for - Omar
Certificate for - Maryam
Certificate for - Ahmed
Certificate for - Taha
Certificate for - Samir
Certificate for - Abdelrahman

In [12]:
s

'Abdelrahman'

In [10]:
range(5)

range(0, 5)

In [11]:
list(range(5))

[0, 1, 2, 3, 4]

Great! Hopefully this makes sense. Now let's add an <code>if</code> statement to check for even numbers. We'll first introduce a new concept here

Notice that if a number is fully divisible with no remainder, the result of the modulo call is 0. We can use this to test for even numbers, since if a number modulo 2 is equal to 0, that means it is an even number!

Back to the <code>for</code> loops!

**Let's print only the even numbers from that list!**

In [7]:
l1 = [10, 201, 35, -402, 56, 63, 816, 920, 1000]

for num in l1:
    if num%2==0:
        print(f"{num} is even")

10 is even
-402 is even
56 is even
816 is even
920 is even
1000 is even

**We could have also put an <code>else</code> statement in there:**

In [14]:
l1

[10, 201, 35, -402, 56, 63, 816, 920, 1000]

In [15]:
evens = []
odds = []

for n in l1:
    if n%2 == 0:
        evens.append(n)
    else:
        odds.append(n)

print(f"Even: {evens}")
print(f"Odd: {odds}")

Even: [10, -402, 56, 816, 920, 1000]
Odd: [201, 35, 63]

**Another common idea during a <code>for</code> loop is keeping some sort of running tally during multiple loops. For example, let's create a <code>for</code> loop that sums up the list:**

In [16]:
sum_ = 0

for num in l1:
    if num % 2 == 0:
        sum_ += num

print(f"Sum of even numbers: {sum_}")

Sum of even numbers: 2400

## 2) Iterate through Strings
We've used <code>for</code> loops with lists, how about with strings? Remember strings are a sequence so when we iterate through them we will be accessing each item in that string.

In [18]:
s = "Hello World"

for ch in s:
    print(f"Char is: {ch.upper()}")

Char is: H
Char is: E
Char is: L
Char is: L
Char is: O
Char is:
Char is: W
Char is: O
Char is: R
Char is: L
Char is: D

In [19]:
password = "Secret123@"

for ch in password:
    if ch.isupper():
        print("Found uppercase!")
    elif ch.islower():
        print("Found lowercase!")
    elif ch.isnumeric():
        print("Found number!")
    else:
        print("Found special character")

Found uppercase!
Found lowercase!
Found lowercase!
Found lowercase!
Found lowercase!
Found lowercase!
Found number!
Found number!
Found number!
Found special character

## 3) Iterate through Tuples
Let's now look at how a <code>for</code> loop can be used with a tuple:

In [20]:
dimensions = (1000, 2500, 500, 3)

for dim in dimensions:
    print(dim)

1000
2500
500
3

## 4) Tuple Unpacking
Tuples have a special quality when it comes to <code>for</code> loops. If you are iterating through a sequence that contains tuples, the item can actually be the tuple itself, this is an example of *tuple unpacking*. During the <code>for</code> loop we will be unpacking the tuple inside of a sequence and we can access the individual items inside that tuple!

In [26]:
# List of tuples (name, grade)
grades = [('Omar', 20), ('Ahmed', 15), ('Hossam', 19), ('Abdelrahman', 25)]
grades

[['Omar', 20], ('Ahmed', 15), ('Hossam', 19), ('Abdelrahman', 25)]

In [22]:
for student in grades:
    print(f"Student is: {student}")

Student is: ('Omar', 20)
Student is: ('Ahmed', 15)
Student is: ('Hossam', 19)
Student is: ('Abdelrahman', 25)

In [27]:
grades

[['Omar', 20], ('Ahmed', 15), ('Hossam', 19), ('Abdelrahman', 25)]

In [28]:
for n, g in grades:
    print(f"Name: {n} - Grade: {g/25*100}%")

Name: Omar - Grade: 80.0%
Name: Ahmed - Grade: 60.0%
Name: Hossam - Grade: 76.0%
Name: Abdelrahman - Grade: 100.0%

another example with different size

In [34]:
grades = [('Omar', 20, '123'), ('Ahmed', 15, '456'), ('Hossam', 19, '789'), ('Abdelrahman', 25, '000')]
grades

[('Omar', 20, '123'),
 ('Ahmed', 15, '456'),
 ('Hossam', 19, '789'),
 ('Abdelrahman', 25, '000')]

In [35]:
for name, grade, id_ in grades:
    print(f"Name: {n} - Grade: {g/25*100}% - ID: {id_}")

Name: Abdelrahman - Grade: 100.0% - ID: 123
Name: Abdelrahman - Grade: 100.0% - ID: 456
Name: Abdelrahman - Grade: 100.0% - ID: 789
Name: Abdelrahman - Grade: 100.0% - ID: 000

In [31]:
10,20,30

(10, 20, 30)

In [ ]:
# Also tuple unpacking
x, y, z = 10, 20, 30

In [45]:
l = [[1,2], [3,4], [5,6]]

for a, b in l:
     print(a, b)

1 2
3 4
5 6

Cool! With tuples in a sequence we can access the items inside of them through unpacking! The reason this is important is because many objects will deliver their iterables through tuples. Let's start exploring iterating through Dictionaries to explore this further!

## 5) Iterate throuh Dictionaries

In [36]:
d = {'Omar': 50, 'Ahmed': 9, 'Mahmoud': 6, 'Akram': 15}
d

{'Omar': 50, 'Ahmed': 9, 'Mahmoud': 6, 'Akram': 15}

In [38]:
for i in d:
    print(i)

Omar
Ahmed
Mahmoud
Akram

In [39]:
for i in d.keys():
    print(i)

Omar
Ahmed
Mahmoud
Akram

In [40]:
for i in d.values():
    print(i)

50
9
6
15

In [42]:
list(d.items())

[('Omar', 50), ('Ahmed', 9), ('Mahmoud', 6), ('Akram', 15)]

In [41]:
for i in d.items():
    print(i)

('Omar', 50)
('Ahmed', 9)
('Mahmoud', 6)
('Akram', 15)

Notice how this produces only the keys. So how can we get the values? Or both the keys and the values? 

We're going to introduce three new Dictionary methods: **.keys()**, **.values()** and **.items()**

In Python each of these methods return a *dictionary view object*. It supports operations like membership test and iteration, but its contents are not independent of the original dictionary – it is only a view. Let's see it in action:

In [43]:
for key, value in d.items():
    print(f"Key: {key} - Value: {value}")

Key: Omar - Value: 50
Key: Ahmed - Value: 9
Key: Mahmoud - Value: 6
Key: Akram - Value: 15

In [44]:
for a, b in d.items():
    print(f"Key: {a} - Value: {b}")

Key: Omar - Value: 50
Key: Ahmed - Value: 9
Key: Mahmoud - Value: 6
Key: Akram - Value: 15

Since the .items() method supports iteration, we can perform *dictionary unpacking* to separate keys and values just as we did in the previous examples.

## 6) Iterate through Files

In [46]:
# Not yet

## 7) Use `range` to generate numbers.

In [1]:
range(10)

range(0, 10)

In [48]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
list(range(80, 100, 2))

[80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [2]:
list(range(50, 70))

[50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69]

In [3]:
list(range(40, 80, 3))

[40, 43, 46, 49, 52, 55, 58, 61, 64, 67, 70, 73, 76, 79]

## 8) Break & Continue

In [50]:
students

['Omar', 'Maryam', 'Ahmed', 'Taha', 'Samir', 'Abdelrahman']

In [51]:
for name in students:
    print(name)

Omar
Maryam
Ahmed
Taha
Samir
Abdelrahman

**Break**<br>
to stop the loop

In [55]:
for name in students:
    if name == 'Taha':
        print("I found Taha!")
        break
    else:
        print("This is not Taha")

print("Done")

This is not Taha
This is not Taha
This is not Taha
I found Taha!
Done

In [58]:
for i in range(10, 30):
    if i % 3 == 0:
        print(f"{i} is divisble by 3")
        print("Continue in loop")
    else:
        print(i)

10
11
12 is divisble by 3
Continue in loop
13
14
15 is divisble by 3
Continue in loop
16
17
18 is divisble by 3
Continue in loop
19
20
21 is divisble by 3
Continue in loop
22
23
24 is divisble by 3
Continue in loop
25
26
27 is divisble by 3
Continue in loop
28
29

In [59]:
for i in range(10, 30):
    if i % 3 == 0:
        print(f"{i} is divisble by 3")
        break
        print("Continue in loop")
    else:
        print(i)

10
11
12 is divisble by 3

**Continue**<br>
to skip an iteration

In [60]:
for i in range(10, 30):
    if i % 3 == 0:
        print(f"{i} is divisble by 3")
        continue
        print("Continue in loop")
    else:
        print(i)

10
11
12 is divisble by 3
13
14
15 is divisble by 3
16
17
18 is divisble by 3
19
20
21 is divisble by 3
22
23
24 is divisble by 3
25
26
27 is divisble by 3
28
29

In [6]:
for i in range(10):
    pass

## 9) For-Else

In [8]:
l1 = [10, 201, 35, -402, 56, 63, 816, 920, 1000]
l1

[10, 201, 35, -402, 56, 63, 816, 920, 1000]

In [10]:
for num in l1:
    print("Number:", num)
else:
    print("Done")

Number: 10
Number: 201
Number: 35
Number: -402
Number: 56
Number: 63
Number: 816
Number: 920
Number: 1000
Done

In [14]:
for num in l1:
    if num % 3 == 0:
        print(f"Num {num} is divisble by 3")
        break
    else:
        print(num)
else:
    print("Done")

10
Num 201 is divisble by 3

## 10) Nested for loops

In [15]:
for i in range(1, 11):
    print(f"5 x {i} = {i*5}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [16]:
for i in range(1, 11):

    for j in range(1, 11):
        print(f"{i} x {j} = {i*j}")
    
    print("Done")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
Done
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
Done
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
Done
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
Done
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
Done
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
Done
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
Done
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
Done
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
Done
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
Done

**another example**

In [23]:
# Check if a number is prime

n = 6
for i in range(2, n):
    if n % i == 0:
        print("Number is not prime")
        break
else:
    print("Number is prime")

Number is not prime

## 11) Examples

### Example 1

0
1
2
3
4
5
6
7
8
9
10

### Example 2

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even

### Example 3

10 is even
30 is even
35 is odd
12 is even
100 is even
-4 should be +ve
-20 should be +ve
0 should be +ve

### Example 4

500500

# Great Work!