# Lambda Expressions, Map, and Filter and Reduce

Now its time to quickly learn about two built in functions, filter and map. Once we learn about how these operate, we can learn about the lambda expression, which will come in handy when you begin to develop your skills further!

## Table of Contents
1. `map` function
2. `filter` function
3. `reduce` function
4. lambda function

## 1) `map` function

The **map** function allows you to "map" a function to an iterable object. That is to say you can quickly call the same function to every item in an iterable, such as a list. For example:

In [1]:
numbers = list(range(1, 11))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
# First Method
squares = []

for i in numbers:
    sq = i ** 2
    squares.append(sq)

squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
# Second Method
squares_2 = [i**2 for i in numbers]
squares_2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
# Third Method
def square(x):
    return x ** 2

squares_3 = [square(i) for i in numbers]
squares_3

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
# Use map function
list(map(square, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

The functions can also be more complex

In [9]:
def get_percentage(grade):
    percent = grade / 10 * 100
    return f"{int(percent)}%"

In [8]:
grades = (9, 7.5, 10, 6.5, 9.5, 8, 7.5)

list(map(get_percentage, grades))

['90%', '75%', '100%', '65%', '95%', '80%', '75%']

In [11]:
def get_upper(string):
    return string.upper()

In [13]:
names = ['Omar', 'Ahmed', 'Abdelrahman', 'Mai', 'Saad', 'Hend']

# list(map(get_upper, names))
list(map(str.upper, names))

['OMAR', 'AHMED', 'ABDELRAHMAN', 'MAI', 'SAAD', 'HEND']

In [38]:
lengths = list(map(len, names))
lengths

[4, 5, 11, 3, 4, 4]

In [37]:
names

['Omar', 'Ahmed', 'Abdelrahman', 'Mai', 'Saad', 'Hend']

In [16]:
nums = [1, 2, 3]

a, b, c = map(square, nums)
a, b, c

(1, 4, 9)

## 2) `filter` function

The filter function returns an iterator yielding those items of iterable for which function(item)
is true. Meaning you need to filter by a function that returns either True or False. Then passing that into filter (along with your iterable) and you will get back only the results that would return True when passed to the function.

In [17]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
# Get even numbers only
evens = []

for i in numbers:
    if i % 2 == 0:
        evens.append(i)
evens

[2, 4, 6, 8, 10]

In [19]:
evens_2 = [i for i in numbers if i % 2 == 0]
evens_2

[2, 4, 6, 8, 10]

In [30]:
def is_even(n):
    return n % 2 == 0

evens_3 = [i for i in numbers if is_even(i)]
evens_3

[2, 4, 6, 8, 10]

In [22]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
# Function MUST BE check function (true/false)
# filter checks each element: append if True only
list(filter(is_even, numbers))

[2, 4, 6, 8, 10]

In [35]:
st = 'Print only the words that start with s in this Sentence'

def starts_with_s(string):
    return string.lower().startswith('s')

list(filter(starts_with_s, st.split()))

['start', 's', 'Sentence']

## 3) `reduce` function

The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.

In [39]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
sum_ = 0

for i in numbers:
    # sum_ = sum_ + i
    sum_ += i

sum_

55

In [42]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
from functools import reduce

def add(a, b):
    return a + b

reduce(add, numbers)

55

In [44]:
def multiply(a, b):
    return a * b

reduce(multiply, numbers)

3628800

In [45]:
values = [10, 5, 2, 19, 7, 6, 3]

In [46]:
def maximum(x, y):
    if x > y:
        return x
    else:
        return y
    
reduce(maximum, values)

19

## Example 1

find from the list the summetion of the cube of odd numbers between 1 & 20

In [12]:
nums = list(range(1, 21))

nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [1]:
# Define functions for operations

def is_odd(n):
    return n % 2 != 0

def cube(n):
    return n ** 3

def add(a, b):
    return a + b

In [50]:
odds = list(filter(is_odd, nums))
odds

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [51]:
cubes = list(map(cube, odds))
cubes

[1, 27, 125, 343, 729, 1331, 2197, 3375, 4913, 6859]

In [52]:
sum_ = reduce(add, cubes)
sum_

19900

## Example 2

find from the list the max of square of even numbers between 1 & 20

In [53]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [54]:
def evens(num):
    return num % 2 == 0

def squares(num):
    return num ** 2

def maximum(a , b):
    if a > b:
        return a
    else:
        return b

In [55]:
from functools import reduce
evens_ = list(filter(evens , nums))
evens_

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [56]:
squares_ = list(map(squares , evens_))
squares_

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [57]:
maximum_ = reduce(maximum , squares_)
maximum_

400

In [60]:
maximum_ = reduce(max, squares_)
maximum_

400

## 4) lambda expression

One of Pythons most useful (and for beginners, confusing) tools is the lambda expression. lambda expressions allow us to create "anonymous" functions. This basically means we can quickly make ad-hoc functions without needing to properly define a function using def.

Function objects returned by running lambda expressions work exactly the same as those created and assigned by defs. There is key difference that makes lambda useful in specialized roles:

**lambda's body is a single expression, not a block of statements.**

* The lambda's body is similar to what we would put in a def body's return statement. We simply type the result as an expression instead of explicitly returning it. Because it is limited to an expression, a lambda is less general that a def. We can only squeeze design, to limit program nesting. lambda is designed for coding simple functions, and def handles the larger tasks.

Lets slowly break down a lambda expression by deconstructing a function:

In [2]:
def cube(n):
    return n ** 3

In [3]:
cube(3)

27

We could simplify it:

In [4]:
def cube(n): return n ** 3

In [5]:
cube(4)

64

We could actually even write this all on one line.

In [9]:
lambda x: x ** 3

In [7]:
cu = lambda x: x ** 3

In [8]:
cu(2)

8

This is the form a function that a lambda expression intends to replicate. A lambda expression can then be written as:

In [13]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [14]:
list(map(lambda x: x**2, nums))

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [15]:
list(filter(lambda x: x % 3 == 0, nums))

[3, 6, 9, 12, 15, 18]

So why would use this? Many function calls need a function passed in, such as map and filter. Often you only need to use the function you are passing in once, so instead of formally defining it, you just use the lambda expression. Let's repeat some of the examples from above with a lambda expression

In [16]:
from functools import reduce

In [17]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

# Example using Lambda function

Here are a few more examples, keep in mind the more comples a function is, the harder it is to translate into a lambda expression, meaning sometimes its just easier (and often the only way) to create the def keyword function.

In [19]:
cubes

[1, 27, 125, 343, 729, 1331, 2197, 3375, 4913, 6859]

In [18]:
odds = list(filter(lambda x: x % 2 !=0, nums))
cubes = list(map(lambda x: x**3, odds))
sum_ = reduce(lambda a, b: a + b, cubes)

sum_

19900

**Lambda expression for grabbing the first character of a string:**

In [20]:
lambda s: s[0]

In [21]:
list(map(lambda s: s[0], ["Omar", 'Ahmed', "Salma"]))

['O', 'A', 'S']

**Lambda expression for reversing a string:**

In [22]:
lambda s: s[::-1]

In [23]:
list(map(lambda s: s[::-1], ["Omar", 'Ahmed', "Salma"]))

['ramO', 'demhA', 'amlaS']

In [2]:
words = ['bay','cat', 'boy', 'fan']
b_words = list (filter ( lambda word: word.startswith ('b'), words))
print(b_words)

['bay', 'boy']

You can even pass in multiple arguments into a lambda expression. Again, keep in mind that not every function can be translated into a lambda expression.

You will find yourself using lambda expressions often with certain non-built-in libraries, for example the pandas library for data analysis works very well with lambda expressions.

# Great Work!