> # Dear Epsilon Students,
> # The More you practice The better You'll Be.

### Instructions:
- Make sure that you understand this topics before you start.
- If you found something hard to do, try and try then google it and finally ask someone.
- You can divide this work into daily tasks so that you do not feel pressure.
- After you finish, go to model answer and rate yourself.
- If you find something ambiguous, Try to make a hypothesis to solve a problem.

### Question classification:
- Green is level 1
- Orange is level 2
- Red is level 3

# <center> Let's start 💪 </center>

## <p style="color:green;">Q.01 Write a function takes a two-word string and returns True if both words begin with same letter</p>
> ('Levelheaded Llama') → True

> ('Crazy Kangaroo') → False

In [1]:
# Answer here
def is_sameletter (a:str,b:str):
    '''
    takes a two-word string and returns True if both words begin with same letter
    '''
    return a[0].lower() == b[0].lower()
is_sameletter('ahmed','ali')

True

## <p style="color:green;">Q.02 Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd</p>

> (2,4) → 2

> (2,5) → 5

In [2]:
# Answer here
def l_g (a:int,b:int):
    '''
    returns the lesser of two given 
    numbers if both numbers are even,
    but returns the greater if one or both
     numbers are odd
    '''
    if a % 2 == 0 and b % 2 == 0:
        if a > b :
            return b 
        else:
            return a
    else:
        if a > b :
            return a 
        else:
            return b  
print(l_g(2,4))
print(l_g(2,5))

2
5

## <p style="color:green;">Q.03 Write a function that capitalizes the first and fourth letters of a name</p>
> ('macdonald') → MacDonald

In [6]:
# Answer here
def cap(name:str):
    '''
    capitalizes the first and fourth letters of a name
    '''
    if len(name) <= 3:
        return name.capitalize()
    else:
        list1= list(name)
        list1[0]=list1[0].upper()
        list1[3]=list1[3].upper()
        cap_=''.join(list1)
        return cap_
cap('macdonald')

'MacDonald'

## <p style="color:green;">Q.04 Given a sentence, return a sentence with the words reversed</p>
> ('I am home') → 'home am I'

In [4]:
# Answer here
def reversed_ (sentence:str):
    '''
    Given a sentence, return a sentence with the words reversed
    '''
    se=sentence.split()[::-1]
    return ' '.join(se)
reversed_('I am home')

'home am I'

## <p style="color:orange;">Q.05 Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.</p>
> has_33([1, 3, 3]) → True

> has_33([1, 3, 1, 3]) → False

In [5]:
# Answer here
def has_33 (y:list):
    for i in range(len(y)-1) :
        if y[i] == 3 and y[i+1]==3:
            return True
    return False
        
print(has_33([1, 3, 3, 5]))

print(has_33([1, 3, 1, 3 ]))

True
False

## <p style="color:orange;">Q.06 BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'¶</p>

>blackjack(5,6,7) → 18

>blackjack(9,9,9) → 'BUST'

>blackjack(9,9,11) → 19

In [7]:
# Answer here

def blackjack (*args):
    if sum(args)< 21 or sum(args) == 21:
        return sum(args)
    elif sum(args)> 21 and args.__contains__ (11):
        return sum(args)-10
    else:
        return 'BUST'
print(blackjack(5,6,7))
print(blackjack(9,9,9))
print(blackjack(9,9,11))

18
BUST
19

## <p style="color:red;">Q.07 SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.</p>
>summer_69([1, 3, 5]) → 9

>summer_69([4, 5, 6, 7, 8, 9]) → 9

>summer_69([2, 1, 6, 9, 11]) → 14

In [7]:
def summer_69(nums):
    total_sum = 0
    flag = True
    for i in nums:
        if i == 6:
            flag = False
        elif i == 9:
            flag = True
        elif flag:
            total_sum += i
    return total_sum    
print(summer_69([1, 3, 5]))
print(summer_69([4, 5, 6, 7, 8, 9]))
print(summer_69([2, 1, 6, 9, 11]))

9
9
14

## <p style="color:red;">Q.08 SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order</p>

>spy_game([1,2,4,0,0,7,5]) → True

> spy_game([1,0,2,4,0,5,7]) → True

 >spy_game([1,7,2,0,4,5,0]) → False

In [9]:
# Answer here
def spy_game (x):
    for i in range(len(x)) :
        if x[i] == 0 :
            for b in range (i+1,len(x)):
                if x[b]== 0:
                    for c in range(b+1, len(x)):
                        if x[c]==7:
                            return True
    return False

print(spy_game([1,2,4,0,0,7,5]) )
print(spy_game([1,0,2,4,0,5,7]) )
print(spy_game([1,7,2,0,4,5,0]) )

True
True
False

## <p style="color:green;">Q.09 Write a function that checks whether a number is in a given range (inclusive of high and low)</p>

In [10]:
# Answer here
def is_in_range(number, low, high):
    return low <= number <= high
is_in_range(4,3,9)

True

## <p style="color:orange;">Q.10 Write a Python function to multiply all the numbers in a list.</p>
> Sample List : [1, 2, 3, -4]

> Expected Output : -24

In [11]:
# Answer here
from functools import reduce
def mul_ (a,b):
    return a*b
List1 = [1, 2, 3, -4]
reduce(mul_,List1)

-24

## <p style="color:red;">Q.11 Write a Python function that checks whether a passed string is palindrome or not.</p>
>Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [22]:
# Answer here
def is_palindrome(x):
    s=x.replace(' ','')
    if s[::1].lower()==s[::-1].lower():
        return True
    return False  
is_palindrome('nurses run')

True

## <p style="color:green;">Q.14 Write a Python program to triple all numbers of a given list of integers. Use Python map.</p>

In [23]:
# Answer here
def triple (v):
    return v**3
l=(2,5,6,4,3)
list(map(triple, l))

[8, 125, 216, 64, 27]

## <p style="color:orange;">Q.15 Write a Python program to square the elements of a list using map() function.</p>

In [24]:
# Answer here
def sq (x):
    return x**2
b=(2,5,6,4,3)
list(map(sq, b))

[4, 25, 36, 16, 9]

## <p style="color:green;">Q.16 Using filter() function filter the list so that only negative numbers are left.</p>
> lst1  [12,-1,9,8,-.5,-.2,-100]

In [53]:
# Answer here
def negative (x):
    if x< 0 :
        return(x)

lst1 = [12,-1,9,8,-.5,-.2,-100]
list(filter(negative,lst1))

[-1, -0.5, -0.2, -100]

## <p style="color:green;">Q.17 Using filter function, filter the even numbers so that only odd numbers are passed to the new list.</p>
> lst1  [22,100,19,13,11,1,4,66]

In [54]:
# Answer here
def even_n (x):
    if x %2 != 0:
        return x

lst2 = [22,100,19,13,11,1,4,66]
list(filter(even_n,lst2))

[19, 13, 11, 1]

## <p style="color:green;">Q.18 Using map() and filter() functions add 2000 to the values below 8000.</p>
> lst [1000,500,600,700,5000,90000,17500]

In [57]:
# Answer here
def add_2000 (x):
    return x+2000
def below_8000 (c):
    if c < 8000 :
        return c

lst3 =[1000,500,600,700,5000,90000,17500]
lst4= list(filter(below_8000,lst3))
list(map(add_2000,lst4))

[3000, 2500, 2600, 2700, 7000]

# <center> Thank's for your effort ❤️ </center>